
.home-container {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block; 
  font-size: 16px;
  margin: 10px auto; 
  cursor: pointer;
  border-radius: 8px;
  width: 100%;
}

.milking-timer {
  font-size: 20px;
  margin-top: 20px;
}

.audio-selection {
  margin-bottom: 20px;
}

#audio-select {
  width: 100%;
  padding: 12px 16px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #90ee90;
  background-color: #eef9e4;
  color: #555;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
}

#audio-select:focus {
  outline: none;
  border-color: #4CAF50;
}
.milking-timer-container {
  border: 2px solid #4CAF50; 
  border-radius: 8px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px 20px; 
  display: inline-block; 
  margin-top: 20px; 
  font-size: 24px; 
  background-color: #fff; 
}

@media screen and (min-width: 768px) {
  .home-container {
    padding: 50px;
  }

  h1 {
    font-size: 32px;
  }

  button {
    font-size: 20px;
  }

  .milking-timer {
    font-size: 24px;
  }
}
